In [1]:
# Dependencies
import pandas as pd
import re

In [2]:
url = 'https://www.pro-football-reference.com/years/2007/games.htm'

In [3]:
tables = pd.read_html(url)
tables

[          Week  Day         Date     Time            Winner/tie Unnamed: 5  \
 0            1  Thu  September 6   8:39PM    Indianapolis Colts        NaN
 1            1  Sun  September 9  12:59PM     Carolina Panthers          @
 2            1  Sun  September 9   1:00PM     Minnesota Vikings        NaN
 3            1  Sun  September 9   1:02PM   Washington Redskins        NaN
 4            1  Sun  September 9   1:02PM        Denver Broncos          @
 ..         ...  ...          ...      ...                   ...        ...
 279   Division  Sun   January 13   1:06PM    San Diego Chargers          @
 280   Division  Sun   January 13   4:45PM       New York Giants          @
 281  ConfChamp  Sun   January 20   3:05PM  New England Patriots        NaN
 282  ConfChamp  Sun   January 20   6:42PM       New York Giants          @
 283  SuperBowl  Sun   February 3   6:30PM       New York Giants          N

                 Loser/tie Unnamed: 7 PtsW PtsL YdsW TOW YdsL TOL
 0      New Orleans Saints   boxscore   41   10  452   1  293   3
 1          St. Louis Rams   boxscore   27   13  385   2  238   2
 2         Atlanta Falcons   boxscore   24    3  302   1  265   2
 3          Miami Dolphins   boxscore   16   13  400   2  273   1
 4           Buffalo Bills   boxscore   15   14  470   1  184   1
 ..                    ...        ...  ...  ...  ...  ..  ...  ..
 279    Indianapolis Colts   boxscore   28   24  411   1  446   3
 280        Dallas Cowboys   boxscore   21   17  230   0  336   1
 281    San Diego Chargers   boxscore   21   12  347   3  311   2
 282     Green Bay Packers   boxscore   23   20  377   1  264   2
 283  New England Patriots   boxscore   17   14  338   1  274   1

 [284 rows x 14 columns]]

In [4]:
tables[0]

,Week,Day,Date,Time,Winner/tie,Unnamed: 5,Loser/tie,Unnamed: 7,PtsW,PtsL,YdsW,TOW,YdsL,TOL
0,1,Thu,September 6,8:39PM,Indianapolis Colts,NaN,New Orleans Saints,boxscore,41,10,452,1,293,3
1,1,Sun,September 9,12:59PM,Carolina Panthers,@,St. Louis Rams,boxscore,27,13,385,2,238,2
2,1,Sun,September 9,1:00PM,Minnesota Vikings,NaN,Atlanta Falcons,boxscore,24,3,302,1,265,2
3,1,Sun,September 9,1:02PM,Washington Redskins,NaN,Miami Dolphins,boxscore,16,13,400,2,273,1
4,1,Sun,September 9,1:02PM,Denver Broncos,@,Buffalo Bills,boxscore,15,14,470,1,184,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,Division,Sun,January 13,1:06PM,San Diego Chargers,@,Indianapolis Colts,boxscore,28,24,411,1,446,3
280,Division,Sun,January 13,4:45PM,New York Giants,@,Dallas Cowboys,boxscore,21,17,230,0,336,1
281,ConfChamp,Sun,January 20,3:05PM,New England Patriots,NaN,San Diego Chargers,boxscore,21,12,347,3,311,2
282,ConfChamp,Sun,January 20,6:42PM,New York Giants,@,Green Bay Packers,boxscore,23,20,377,1,264,2
283,SuperBowl,Sun,February 3,6:30PM,New York Giants,N,New England Patriots,boxscore,17,14,338,1,274,1

In [5]:
df_table = tables[0]
cols = [1,3,5,7]
df_table.drop(df_table.columns[cols],axis=1,inplace=True)
df_table

,Week,Date,Winner/tie,Loser/tie,PtsW,PtsL,YdsW,TOW,YdsL,TOL
0,1,September 6,Indianapolis Colts,New Orleans Saints,41,10,452,1,293,3
1,1,September 9,Carolina Panthers,St. Louis Rams,27,13,385,2,238,2
2,1,September 9,Minnesota Vikings,Atlanta Falcons,24,3,302,1,265,2
3,1,September 9,Washington Redskins,Miami Dolphins,16,13,400,2,273,1
4,1,September 9,Denver Broncos,Buffalo Bills,15,14,470,1,184,1
...,...,...,...,...,...,...,...,...,...,...
279,Division,January 13,San Diego Chargers,Indianapolis Colts,28,24,411,1,446,3
280,Division,January 13,New York Giants,Dallas Cowboys,21,17,230,0,336,1
281,ConfChamp,January 20,New England Patriots,San Diego Chargers,21,12,347,3,311,2
282,ConfChamp,January 20,New York Giants,Green Bay Packers,23,20,377,1,264,2
283,SuperBowl,February 3,New York Giants,New England Patriots,17,14,338,1,274,1

In [6]:
df_table = df_table[df_table.Week.apply(lambda x: str(x).isnumeric())]
df_table

,Week,Date,Winner/tie,Loser/tie,PtsW,PtsL,YdsW,TOW,YdsL,TOL
0,1,September 6,Indianapolis Colts,New Orleans Saints,41,10,452,1,293,3
1,1,September 9,Carolina Panthers,St. Louis Rams,27,13,385,2,238,2
2,1,September 9,Minnesota Vikings,Atlanta Falcons,24,3,302,1,265,2
3,1,September 9,Washington Redskins,Miami Dolphins,16,13,400,2,273,1
4,1,September 9,Denver Broncos,Buffalo Bills,15,14,470,1,184,1
...,...,...,...,...,...,...,...,...,...,...
267,17,December 30,San Diego Chargers,Oakland Raiders,30,17,253,1,316,4
268,17,December 30,Arizona Cardinals,St. Louis Rams,48,19,422,2,234,3
269,17,December 30,Denver Broncos,Minnesota Vikings,22,19,362,0,332,3
270,17,December 30,Baltimore Ravens,Pittsburgh Steelers,27,21,334,1,264,3
271,17,December 30,Tennessee Titans,Indianapolis Colts,16,10,356,2,194,1

In [29]:
points_dict = {}
yards_dict = {}
to_dict = {}
example = df_table.head()

for i in df_table.iterrows():
    if i[1]['Winner/tie'] == 'Indianapolis Colts' or i[1]['Loser/tie'] == 'Indianapolis Colts':
        if i[1]['Winner/tie'] in points_dict:
            points_dict[i[1]['Winner/tie']] = points_dict[i[1]['Winner/tie']] + int(i[1]['PtsW']) - int(i[1]['PtsL'])
            print(points_dict)
        else:
            points_dict[i[1]['Winner/tie']] = int(i[1]['PtsW']) - int(i[1]['PtsL'])
            print(points_dict)
        if i[1]['Loser/tie'] in points_dict:
            points_dict[i[1]['Loser/tie']] = points_dict[i[1]['Loser/tie']] - int(i[1]['PtsW']) + int(i[1]['PtsL'])
            print(points_dict)
        else:
            points_dict[i[1]['Loser/tie']] = -int(i[1]['PtsW']) + int(i[1]['PtsL'])
            print(points_dict)

{'Indianapolis Colts': 33, 'New Orleans Saints': -31}
{'Indianapolis Colts': 39, 'New Orleans Saints': -31, 'Tennessee Titans': -2}
{'Indianapolis Colts': 57, 'New Orleans Saints': -31, 'Tennessee Titans': -2, 'Houston Texans': -6}
{'Indianapolis Colts': 76, 'New Orleans Saints': -31, 'Tennessee Titans': -2, 'Houston Texans': -6, 'Denver Broncos': -18}
{'Indianapolis Colts': 98, 'New Orleans Saints': -31, 'Tennessee Titans': -2, 'Houston Texans': -6, 'Denver Broncos': -18, 'Tampa Bay Buccaneers': -19}
{'Indianapolis Colts': 122, 'New Orleans Saints': -31, 'Tennessee Titans': -2, 'Houston Texans': -6, 'Denver Broncos': -18, 'Tampa Bay Buccaneers': -19, 'Jacksonville Jaguars': -22}
{'Indianapolis Colts': 118, 'New Orleans Saints': -31, 'Tennessee Titans': -2, 'Houston Texans': -6, 'Denver Broncos': -18, 'Tampa Bay Buccaneers': -19, 'Jacksonville Jaguars': -22, 'Carolina Panthers': -24, 'New England Patriots': 4}
{'Indianapolis Colts': 116, 'New Orleans Saints': -31, 'Tennessee Titans': -2, 'Houston Texans': -6, 'Denver Broncos': -18, 'Tampa Bay Buccaneers': -19, 'Jacksonville Jaguars': -22, 'Carolina Panthers': -24, 'New England Patriots': 4, 'San Diego Chargers': 2}
{'Indianapolis Colts': 119, 'New Orleans Saints': -31, 'Tennessee Titans': -2, 'Houston Texans': -6, 'Denver Broncos': -18, 'Tampa Bay Buccaneers': -19, 'Jacksonville Jaguars': -22, 'Carolina Panthers': -24, 'New England Patriots': 4, 'San Diego Chargers': 2}
{'Indianapolis Colts': 137, 'New Orleans Saints': -31, 'Tennessee Titans': -2, 'Houston Texans': -6, 'Denver Broncos': -18, 'Tampa Bay Buccaneers': -19, 'Jacksonville Jaguars': -22, 'Carolina Panthers': -24, 'New England Patriots': 4, 'San Diego Chargers': 2, 'Kansas City Chiefs': -3}
{'Indianapolis Colts': 140, 'New Orleans Saints': -31, 'Tennessee Titans': -2, 'Houston Texans': -6, 'Denver Broncos': -18, 'Tampa Bay Buccaneers': -19, 'Jacksonville Jaguars': -22, 'Carolina Panthers': -24, 'New England Patriots': 4, 'San Diego Chargers': 2, 'Kansas City Chiefs': -3, 'Atlanta Falcons': -18}
{'Indianapolis Colts': 140, 'New Orleans Saints': -31, 'Tennessee Titans': -2, 'Houston Texans': -6, 'Denver Broncos': -18, 'Tampa Bay Buccaneers': -19, 'Jacksonville Jaguars': -25, 'Carolina Panthers': -24, 'New England Patriots': 4, 'San Diego Chargers': 2, 'Kansas City Chiefs': -3, 'Atlanta Falcons': -18}
{'Indianapolis Colts': 164, 'New Orleans Saints': -31, 'Tennessee Titans': -2, 'Houston Texans': -6, 'Denver Broncos': -18, 'Tampa Bay Buccaneers': -19, 'Jacksonville Jaguars': -25, 'Carolina Panthers': -24, 'New England Patriots': 4, 'San Diego Chargers': 2, 'Kansas City Chiefs': -3, 'Atlanta Falcons': -18}
{'Indianapolis Colts': 171, 'New Orleans Saints': -31, 'Tennessee Titans': -2, 'Houston Texans': -6, 'Denver Broncos': -18, 'Tampa Bay Buccaneers': -19, 'Jacksonville Jaguars': -25, 'Carolina Panthers': -24, 'New England Patriots': 4, 'San Diego Chargers': 2, 'Kansas City Chiefs': -3, 'Atlanta Falcons': -18, 'Baltimore Ravens': -24}
{'Indianapolis Colts': 194, 'New Orleans Saints': -31, 'Tennessee Titans': -2, 'Houston Texans': -6, 'Denver Broncos': -18, 'Tampa Bay Buccaneers': -19, 'Jacksonville Jaguars': -25, 'Carolina Panthers': -24, 'New England Patriots': 4, 'San Diego Chargers': 2, 'Kansas City Chiefs': -3, 'Atlanta Falcons': -18, 'Baltimore Ravens': -24, 'Oakland Raiders': -7}
{'Indianapolis Colts': 194, 'New Orleans Saints': -31, 'Tennessee Titans': -2, 'Houston Texans': -29, 'Denver Broncos': -18, 'Tampa Bay Buccaneers': -19, 'Jacksonville Jaguars': -25, 'Carolina Panthers': -24, 'New England Patriots': 4, 'San Diego Chargers': 2, 'Kansas City Chiefs': -3, 'Atlanta Falcons': -18, 'Baltimore Ravens': -24, 'Oakland Raiders': -7}
{'Indianapolis Colts': 194, 'New Orleans Saints': -31, 'Tennessee Titans': 4, 'Houston Texans': -29, 'Denver Broncos': -18, 'Tampa Bay Buccaneers': -19, 'Jacksonville Jaguars': -25, 'Carolina Panthers': -24, 'New England Patriots': 4, 'San Diego Chargers': 2, 'Kansas City Chiefs': -3, 'Atlanta Falcons': -18, 'Baltimore Ravens': -24, 'Oakland Raiders': -7}
{'Indianapolis Colts': 188, 'New Orleans Saints': -31, 'Tennessee Titans': 4, 'Houston Texans': -29, 'Denver Broncos': -18, 'Tampa Bay Buccaneers': -19, 'Jacksonville Jaguars': -25, 'Carolina Panthers': -24, 'New England Patriots': 4, 'San Diego Chargers': 2, 'Kansas City Chiefs': -3, 'Atlanta Falcons': -18, 'Baltimore Ravens': -24, 'Oakland Raiders': -7}

In [7]:
years = ['2007','2008','2009','2010','2011','2012','2013','2014','2015']
seasons = []
cols = [1,3,5,7]

for year in years:
    url = f'https://www.pro-football-reference.com/years/{year}/games.htm'
    data = pd.read_html(url)
    df_table = data[0]
    print(year)
    df_table.drop(df_table.columns[cols],axis=1,inplace=True)
    df_table = df_table[df_table.Week.apply(lambda x: str(x).isnumeric())]
    df_table = df_table.reset_index(drop=True)
    df_table['Year'] = year
    seasons.append(df_table)
print(len(seasons))

2007
2008
2009
2010
2011
2012
2013
2014
2015
9

In [8]:
seasons[1]

,Week,Date,Winner/tie,Loser/tie,PtsW,PtsL,YdsW,TOW,YdsL,TOL,Year
0,1,September 4,New York Giants,Washington Redskins,16,7,354,1,209,0,2008
1,1,September 7,Philadelphia Eagles,St. Louis Rams,38,3,522,0,166,0,2008
2,1,September 7,New York Jets,Miami Dolphins,20,14,293,1,277,1,2008
3,1,September 7,New England Patriots,Kansas City Chiefs,17,10,338,2,284,1,2008
4,1,September 7,Pittsburgh Steelers,Houston Texans,38,17,305,1,234,3,2008
...,...,...,...,...,...,...,...,...,...,...,...
251,17,December 28,Philadelphia Eagles,Dallas Cowboys,44,6,303,1,298,5,2008
252,17,December 28,San Francisco 49ers,Washington Redskins,27,24,359,1,268,1,2008
253,17,December 28,Baltimore Ravens,Jacksonville Jaguars,27,7,431,0,245,4,2008
254,17,December 28,Miami Dolphins,New York Jets,24,17,319,1,331,4,2008
255,17,December 28,San Diego Chargers,Denver Broncos,52,21,491,0,406,2,2008